<<<<<<< HEAD
    /* latin-ext */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v10/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfYPlDX5Z.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v10/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
footer {
    color: white ;
    padding-top: 0px;
    background-color: #0d0d0d;
    padding-top: 25px;
    color: #fff;
}
.container px-0{
    background-color: #0d0d0d;

}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {

    display: block;

}
*, ::before, ::after {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
body {

    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}

footer {
    padding-top: 25px;
}
footer {
    padding-top: 0px;
    background-color: #0d0d0d;
    color: #fff;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
=======
<<<<<<< HEAD
    /* latin-ext */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v10/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfYPlDX5Z.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v10/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
=======
a{
    color: white;
}
footer {

    padding-top: 25px;

>>>>>>> origin/feature/AM_footer
}
footer {
    color: white ;
    padding-top: 0px;
    background-color: #0d0d0d;
    padding-top: 25px;
    color: #fff;
}
.container px-0{
    background-color: #0d0d0d;

}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {

    display: block;

}
*, ::before, ::after {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
body {

    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
<<<<<<< HEAD

=======
footer a{
    color:grey;
}
>>>>>>> origin/feature/AM_footer
footer {
    padding-top: 25px;
}
footer {
    padding-top: 0px;
    background-color: #0d0d0d;
    color: #fff;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
>>>>>>> 623eec52761f220ad94412a1f508f67b2b567f51
}