h1{
text-decoration: underline;
}
#SeConnecter{
    border: 1px solid black;
    background-color: white;
    margin-left: 10%;
    
}
body{
    box-sizing: border-box;
    background-color:#ede1e8;
}
.parentDiv{
    display: flex;
}
.containerOne{
    display: block;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px ;
}
#createAccount{
    background-color: red;
    color: white;
}
.containerTwo{
    border: 1px solid black;
    border-radius: 5px ;
    background-color: white;
    margin-left: 100px;
    padding: 0px;
    display: block;
    width: 300px;
    height: 105px;
}