a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

body {
    background-color: rgb(71, 8, 8);
    color: white;
}

.container header div {
    display: flex;
    justify-content: space-between;
}

.container header div h1 {
    color: red;
    font-weight: bold;
    margin : 5px;
    font-size: 50px;
    
}

.container header div div.titre {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container header div div.barrerecherche {
    margin-left: -35px;
}

.container header div img {
    width: 20px;
    height: 20px;
}

.container header div div{
    display: block;
    text-align: center;
    
}

.container header div div p { 
    text-align: center;
}

.container header div div.info {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    width: 25%;
    align-items:baseline;
    
}

.container header div div form {
    margin: 15px;
}

.container header div div form input {
    height: 30px;
    background-color: gray;
    border:1px solid white;
    margin-top: 15px;


}

#trait {
    border-top: 1px solid #000;
    width : 100%;
}

.container header div ul {
    display : flex;
    padding: 0px;
    justify-content: space-between;
    width: 50%;
    font-size: bold;
    padding-left: 0px;
    
}

.container header ul li  {
    font-size: 1.2em;
    font-weight: bold;

}

input::placeholder {
    color: white;
    font-size: 1.2em;
}