@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$color-text : #bb5b61;
$color-back : #e4dee4;
$color-dark : #333A42;
$color-light: #687079;

@mixin font {
    font-family: Oswald;
    font-size  : 1.5em;
    color      : $color-back;

}

body {

    margin : 0;
    padding: 0;
    @include font;

    div.homebanner {
        background         : url("../banqueimg/filrouge10.jpg");
        margin             : 0;
        padding            : 130px;
        width              : 100%;
        height             : 200px;
        background-position: center;
        height             : auto;


        a.newcoll {
            text-decoration : none;
            border          : solid 1px $color-back;
            padding         : 10px;
            background-color: $color-dark;
            color           : $color-back;
            width           : 30%;
            min-width: 30%;
        }
    }

    div.main {
        background-color: $color-back;
        color           : $color-text;
        margin          : 0;
        padding         : 0;

        div.banner {
            display       : flex;
            flex-direction: column;
            align-items   : flex-start;
            margin-left   : 130px;

            h1 {
                margin: 25px 0 0 0;
                color : $color-light;
            }

            p {
                margin   : 0 0 25px 0;
                color    : $color-dark;
                font-size: 0.8em;
            }
        }

        div.articles {
            display        : flex;
            flex-wrap      : wrap;
            flex-direction : row;
            justify-content: center;


            article {
                margin-bottom: 35px;
                margin       : 5px;
                min-height   : 500px;

                figure {
                    img {
                        min-width    : 100px;
                        max-width    : 300px;
                        max-height   : 350px;
                        min-height   : 100px;
                        padding-left : 24px;
                        padding-right: 24px;

                        div {
                            max-width: 50%;
                        }
                    }

                    figcaption.legendeimg {
                        padding-left         : 24px;
                        display              : grid;
                        grid-template-columns: 205px 75px;
                        grid-template-rows   : 20px 20px;
                        flex-wrap            : nowrap;
                        font-size            : 1rem;
                        color                : $color-dark;
                    }

                }
            }


        }

        div.explorecoll {
            display        : flex;
            justify-content: space-around;
            padding        : 50px;
            color          : $color-dark;

            a {
                text-decoration: none;
                color          : inherit;
            }
        }
    }

    div.quatro {
        background-color: $color-back;

        h1 {
            margin: 0 0 0 130px;
            color : $color-light;
        }

        div.gridquatro {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;

            div.quatro {
                border          : solid 1px $color-dark;
                width           : 45%;
                height          : 400px;
                margin          : 10px 10px 10px 10px;
                background-color: $color-light;
                display         : flex;
                align-items     : flex-end;

                a {
                    text-decoration: none;
                    color          : $color-back;
                    padding-left   : 20px;
                    padding-bottom : 20px;
                    font-size      : 1.8em;
                }
            }

            div.quatro1 {
                background         : url("../banqueimg/filrouge30.jpg");
                background-size    : cover;
                background-position: center;
            }

            div.quatro2 {
                background         : url("../banqueimg/filrouge3.jpg");
                background-size    : cover;
                background-position: bottom;
            }

            div.quatro3 {
                background         : url("../banqueimg/filrouge62.jpg");
                background-size    : cover;
                background-position: center;
            }

            div.quatro4 {
                background         : url("../banqueimg/filrouge83.jpg");
                background-size    : cover;
                background-position: bottom;
            }
        }
    }
}