@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  font-size: 1.5em;
  color: #e4dee4;
}
body div.homebanner {
  background: url("../banqueimg/filrouge10.jpg");
  margin: 0;
  padding: 130px;
  width: 100%;
  height: 200px;
  background-position: center;
  height: auto;
}
body div.homebanner a.newcoll {
  text-decoration: none;
  border: solid 1px #e4dee4;
  padding: 10px;
  background-color: #333A42;
  color: #e4dee4;
  width: 30%;
  min-width: 30%;
}
body div.main {
  background-color: #e4dee4;
  color: #bb5b61;
  margin: 0;
  padding: 0;
}
body div.main div.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 130px;
}
body div.main div.banner h1 {
  margin: 25px 0 0 0;
  color: #687079;
}
body div.main div.banner p {
  margin: 0 0 25px 0;
  color: #333A42;
  font-size: 0.8em;
}
body div.main div.articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
body div.main div.articles article {
  margin-bottom: 35px;
  margin: 5px;
  min-height: 500px;
}
body div.main div.articles article figure img {
  min-width: 100px;
  max-width: 300px;
  max-height: 350px;
  min-height: 100px;
  padding-left: 24px;
  padding-right: 24px;
}
body div.main div.articles article figure img div {
  max-width: 50%;
}
body div.main div.articles article figure figcaption.legendeimg {
  padding-left: 24px;
  display: grid;
  grid-template-columns: 205px 75px;
  grid-template-rows: 20px 20px;
  flex-wrap: nowrap;
  font-size: 1rem;
  color: #333A42;
}
body div.main div.explorecoll {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  color: #333A42;
}
body div.main div.explorecoll a {
  text-decoration: none;
  color: inherit;
}
body div.quatro {
  background-color: #e4dee4;
}
body div.quatro h1 {
  margin: 0 0 0 130px;
  color: #687079;
}
body div.quatro div.gridquatro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body div.quatro div.gridquatro div.quatro {
  border: solid 1px #333A42;
  width: 45%;
  height: 400px;
  margin: 10px 10px 10px 10px;
  background-color: #687079;
  display: flex;
  align-items: flex-end;
}
body div.quatro div.gridquatro div.quatro a {
  text-decoration: none;
  color: #e4dee4;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 1.8em;
}
body div.quatro div.gridquatro div.quatro1 {
  background: url("../banqueimg/filrouge30.jpg");
  background-size: cover;
  background-position: center;
}
body div.quatro div.gridquatro div.quatro2 {
  background: url("../banqueimg/filrouge3.jpg");
  background-size: cover;
  background-position: bottom;
}
body div.quatro div.gridquatro div.quatro3 {
  background: url("../banqueimg/filrouge62.jpg");
  background-size: cover;
  background-position: center;
}
body div.quatro div.gridquatro div.quatro4 {
  background: url("../banqueimg/filrouge83.jpg");
  background-size: cover;
  background-position: bottom;
}

/*# sourceMappingURL=accueil.css.map */
