@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #333A42;
  color: #e4dee4;
  font-family: Oswald;
  font-weight: 200;
  color: #e4dee4;
}
body div.artiste {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body div.artiste div.banner {
  margin: auto;
  width: 50%;
  text-align: center;
}
body div.artiste div.banner div.bio {
  text-align: justify;
}
body div.artiste div.social {
  margin: auto;
  padding: 15px;
}
body div.artiste div.social i {
  margin: 5px;
}
body div.artiste div.galerie {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
body div.artiste div.galerie figure {
  margin: 20px 5px;
  padding: 0;
}
body div.artiste div.galerie figure img {
  height: 350px;
  width: auto;
}
body div.artiste div.galerie figure figcaption {
  text-align: right;
}
body div.artiste div.galerie figure figcaption div.price {
  font-weight: 700;
}

/*# sourceMappingURL=page-artiste.css.map */
