@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

$color-text : #bb5b61;
$color-back : #e4dee4;
$color-dark : #333A42;
$color-light: #687079;

@mixin font {
    font-family: Oswald;
    font-weight: 200;
    color      : $color-back;

}

body {
    margin : 0;
    padding: 0;
    background-color: $color-dark;
    color: $color-back;
    @include font;

    div.artiste {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        div.banner{
            margin: auto;
            width: 50%;
            text-align: center;
            div.bio{
                text-align: justify;
            }
        }

        div.social{
            margin: auto;
            padding: 15px;
            i{
                margin: 5px;
            }
        }

        div.galerie {
            margin: 0;
            padding: 0;
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            figure{
                margin: 20px 5px;
                padding: 0;
                img{
                    height: 350px;
                    width: auto;
                }
                figcaption{
                    text-align: right;
                    div.price{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}